<section class="block block--dark block--skewed-right showcase">
    <h3 class="showcase__heading">User-Friendly Control Panel</h3>
    <div class="grid grid--1x2 showcase__content">
      <img src="/images/ipad.png" alt="" class="showcase__img" />
      <div class="showcase__description updates__showcase">
        <span class="icon-container showcase__icon">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </span>
        <div class="showcase_heading-paragraph">
          <h3>Easy Start & Manged Updates</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
            architecto illum! Ratione sapiente magni voluptatum!
          </p>
        </div>
      </div>
      <div class="showcase__description staging__showcase">
        <span class="icon-container showcase__icon">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </span>
        <div class="showcase_heading-paragraph">
          <h3>Staging.Git & WP-CU</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
            architecto illum! Ratione sapiente magni voluptatum!
          </p>
        </div>
      </div>
      <div class="showcase__description dynamic-catching__showcase">
        <span class="icon-container showcase__icon">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <div class="showcase_heading-paragraph">
          <h3>Dynamic Catching & More</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
            architecto illum! Ratione sapiente magni voluptatum!
          </p>
        </div>
      </div>
    </div>
    
  </section>